* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;   
}

section {
    display: block;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #275aa1; /* section headings text*/
   font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;    
    padding: 0;
    text-align: left;   
}

a {
    transition: color 0.2s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



/*NAVIGATION*/
.navbar {
   margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    background-color: whitesmoke; 

}

.navbar .nav-logo {
    padding: 0;
    margin-left: 0;
}

.navbar-header .nav-logo img {
    margin-top: 30px;
    padding-top: 38px;
    display: block;
    height: auto;
    max-width: 200px;
    vertical-align: middle;
    border: 0;
}

.navbar ul {
    list-style: none;
    margin-bottom: auto;
}

.navbar ul li {
    padding: 0px 20px;
    text-align: right;
    display: inline-block;
    transition: 0.5s ease;
}

.navbar ul li:hover {
    background-color: rgba(128,0,128,0.2); /* navbar hover bg color */
    border-radius: 25px;
    text-decoration:none;
}

.navbar ul li a {
    display: block;
    padding-top: 0px;
    color: darkslateblue; /* navbar link text color */
    font-weight: normal;
    font-style: normal;
    border-bottom: 2px solid transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 22px;    
}

.dropdown {
    display: inline-block;
    position: relative;
}

.navbar-collapse .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(196,245,198,0.9); /* main link navbar dropdown hover bg color*/
    width: auto;
    height: auto;
    box-shadow: 8px 8px 16px 0 rgba(128,0,128,0.2);
    z-index: 1;
    text-align:left;
    left: 0;
    border-radius: 20px;
    margin-top: 0;
}

.dropdown-menu li { 
    display: block;     
}

.dropdown .dropdown-menu li a {
    color: darkslategray; /* navbar dropdown text color */
    font-size: 18px;
    transition: 0.3s ease;
}

.navbar .dropdown .dropdown-menu li:hover {
    background-color: transparent;
}


.dropdown-menu li a:hover {
   background-color: lightblue; /* navbar dropdown hover bg color*/
    background-image: none;
    border-radius: 10px;
    
}

.dropdown:hover .dropdown-menu {
    display: block;    
}

i {
    border: solid darkslateblue; /* navbar arrow color */
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
}

.down {
    transform: rotate(45deg) translateY(-5px);    
}

.introduction {
    position: relative;
    height: auto;
    margin-top: 2vh;
}

.col-xs-3 {
    padding-left: 0;
    padding-right: 0;    
}

.col-xs-3 .introduction-icon {
    width: 100%;
}

.introduction-icon img {
    padding-left: 25%;
    padding-right: 25%;
    position: relative;
    bottom: 5vh;
}

.introduction-text-wrapper {
    position: relative;
    width: 100%;   
}

.introduction-text {
     padding-right: 40px;
    margin-left: 0px;
    font-size: 26px;
   /* color: #2d95b5;*/
    color: rgb(001,017,032); /* about and felloship text color */
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 0.7px;
}

.selection-criteria, .coverage {
    /*margin-top: 5%;*/
    /*float: left;*/
    background-color: #1b2e25; /*projects section  bgcolor*/
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    transition: 1s ease;
    height: auto;
    padding: 30px 0 50px 0;
}

.selection-criteria h1, .coverage h1 {
    color: #88eef7;
    text-align: justify;
    margin-bottom: 
}

.col-xs-2 {
    margin: 0;
    padding: 0;
}
.selection-criteria .criterion-number {
    background-color: #ffff4d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 30%;
}
.criterion-number h2 {
    text-align: center;
    padding: 25% 0;
}

.criterion-heading {
    position: relative;
    right: 7%;
}

.criterion-heading h2 {
    color: lightblue;
    margin-top: 30px;
    padding:0 0 1% 0;
    text-align: justify;
    text-transform: uppercase;
}

.criterion-text p{
    color: whitesmoke;
    position: relative;
    text-align: justify;
    display: block;
    margin-left: 7%;
    top: 2%;
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    letter-spacing: 0.7px;
    transition: 0.3s ease;
}

/*.selection-criteria .note {
    background-color: pink;
    margin-left: 7%;
    padding: 1% 2%;
    margin-bottom: 20px;
    border-radius: 2vh;
    display: block;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    letter-spacing: 0.7px;
}*/
.criterion-req p{
    color: whitesmoke;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    letter-spacing: 0.7px;
    margin-left: 0;
    margin-top: 1%;
}

.selection-criteria img {
    margin-left: 50%;
    margin-bottom: 20px;
}

/*coverage*/
.coverage {
    /*float: left;*/
    opacity: 1;
    transition: 1s ease;
    height: auto;
    padding: 30px 0 30px 0;
}

.coverage-text-wrapper {
    position: relative;

}
.coverage-text {
    position: relative;
    padding: 2vh;
    height: auto;
    width: 100%;
    margin-top: 3vh;
}



.coverage-text p {
    text-align: justify;
    color: whitesmoke;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    letter-spacing: 0.7px;
    transition: 0.3s ease;
    margin-bottom: 1%;
}

.coverage-icon {
    width: 100%;
}

.coverage-icon img {
    padding: 0 10%;
    position: relative;
    width: 80%;
}

/*Applicantrequirements */
.applicant-requirements {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    transition: 1s ease;
    height: auto;
    padding: 30px 0 50px 0;
}

.applicant-requirements p {
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    letter-spacing: 0.7px;
    margin-left: 0px;
    margin-bottom: 0;
}

.applicant-requirements ul li {
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    letter-spacing: 0.7px;
    margin-left: 0px;
    list-style-type:square;
    margin-left: 10%;
}

.applicant-req-blurb p{
    margin-bottom: 0;
}

.applicant-req-blurb {
    background-color: #cfffff;
    padding: 1.5%;
    border-radius: 3vh;
}

/*applications*/
.applications {
    margin-bottom: 30px;
}
.applications h1{
    margin-bottom: 0;
}
.applications-heading h2 {
    margin-top: 30px;
    padding:0 0 1% 0;
    text-align: justify;
    text-transform: uppercase;
    color: #275aa1
}

.applications .applications-text {
    font-family: 'Slabo 27px', serif;
    font-size: 24px;
    letter-spacing: 0.7px;
    margin-left: 0px;
    list-style-type:square;
}

.footer-section {
    padding: 30px 0;
    background-color: whitesmoke; /* footer bg color */
    margin-top: 0;
}

.footer-section h3 {
    margin-bottom: 30px;
    color: #275aa1; /* footer heading color */
   font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-size: 34px;
}

.footer-section p {
 margin-bottom: 30px;  
    color: darkslategray; /* footer text color */
    font-family: 'Slabo 27px',serif;
    font-size: 22px;
    text-align: justify;
}

.footer-section input{
    text-align: center;
    border-radius: 20px;
    background-color: rgba(147,112,219,0.3);
    padding: 5px 5px 5px 5px;
}

.footer-section button {
    background-image: linear-gradient(to right, #84fab0 0%,  #8fd3f4 51%); /* footer section button bg color */
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 20px;
    margin-left: 5px;
    font-family: 'Montserrat',serif;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 12px purple;
    transition: 0.2s ease-in-out;
}

.footer-section button:hover {
    color: whitesmoke;
}

.footer-section .org-menu {
    list-style: none;
    
}

.footer-section .org-menu .org-menu-item a {
    color: darkslategray; /* footer organisation text color */
    transition: color 0.2s;
    font-family: 'Slabo 27px',serif;
    padding: 20px;
    font-size: 24px;
}

.footer-section .org-menu .org-menu-item a:hover {
    color: dodgerblue; /* footer link hover text color */
}

.footer-section .network-item {
    margin: 12px;
}

.footer-logo {
    padding: 20px;
}
